
#about{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AboutPhoto{
    justify-content: center;
    display: inherit;
    flex-direction: column;
}
.AboutPhoto img{
    object-fit: cover;
    object-position: center center;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    transition: box-shadow 0.5s ease-out 100ms;
    transition: width 0.5s ease-out 100ms;
}

.AboutPhoto img:hover{
    box-shadow: 1px 1px 23px #FFCE08;
    width: 99%;
}
.AboutCardcontainer{
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    ;
}
.AboutCardcontainer .row{
    height: 100%;
}
.cvContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    margin-right: 25px;
}

.downloadBtn{
    text-decoration: none;
    padding: 10px 15px;
    background: #FFCE08;
    border-radius: 10px;
    font-size: 12px;
    width: fit-content;
    color: black;
    font-weight: 800;
}

.downloadBtn{
    margin: 10px auto;
}
.aboutLine1{
    border-radius:5px ;
    width: 5px;
    background: #656565;
    padding-left: 0px;
    padding-right: 0px;
}
.cvTextContainer{
    margin-left: 25px;
    margin-top: auto;
    margin-bottom: auto;
}
.cvTextContainer p{
    color: #656565;
}

.StrongText{
    font-weight: 800;
    color: rgb(255, 64, 64);
}


.cvTextContainer p{
    margin-bottom: 10px;
}

.cvTextContainer p a{
    text-decoration: none;
    color: #656565;
}
.cvTextContainer p a:hover{
    color: #1a1a1a;
}
.CvBtn{
    padding: 5px 10px;
    background: #FFCE08;
    border-radius: 50px;
}

.CvbtnContainer{
    text-align: end;
}
.CvBtn:hover{
    background: #ffdf5d;
    box-shadow: 1px 1px 2px rgb(207, 207, 207);
}

@media only screen and (max-device-width:768px){
    .cvContainer{
        margin-left: 0px;
        margin-right: 0px;
    }
    .cvTextContainer{
        margin-left: 0px;
        margin-right: 0px;
    }
    .aboutLine1 {
        margin-top: 25px;
        margin-bottom: 25px;
        height: 4px;
        border-radius: 5px;
        width: 100%;
        background: #656565;
        padding-left: 0px;
        padding-right: 0px;
    }
    .cvTextContainer h3{
        font-size: 22px;
    }
}